
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width:100% ;
}

.bars {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 1em;
}

.bar {
  background-color: #ccc;
  height: 16px;
}

.bar-contents {
  background-color: green;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition-duration: 2000ms;
  transition-property: transform;
  transition-timing-function:linear;
}

.bar-contents--filled {
  transform: scaleX(1);
}